/* Base styles */
.about-us {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
  }
  
  .about-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: center/cover no-repeat;
    height: 70vh;
    background-position: 50% 80%; 
  }
  
  .about-header h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 5px;
  }

  .about-header p{
    color: #ffffff;
    font-size: 1rem;
    align-self: center ;
    width: 50%;
  }

  .about-us__story {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .about-us__story.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  

  
  .about-us__story {
    padding: 3rem 2rem;
    background-color: #fff;
    color: #333;
    width: 80%;
    align-self: center;
  }
  
  .about-us__story-heading {
    font-size: 1.2rem;
    color: #ffc107; 
    margin-bottom: 0.5rem;
  }
  
  .about-us__story-title {
    font-size: 2rem;
    margin: 0 0 1.5rem;
  }
  
  .about-us__story-paragraph {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .about-us__image {
      padding: 2rem 1rem;
    }
  
    .about-us__title {
      font-size: 2rem;
    }
  
    .about-us__intro {
      font-size: 0.875rem;
    }
  
    .about-us__story {
      padding: 2rem 1rem;
    }
  
    .about-us__story-title {
      font-size: 1.5rem;
    }
  
    .about-us__story-paragraph {
      font-size: 0.875rem;
    }
  }
  