.categories {
  padding: 20px;
  text-align: center;
  margin-bottom: 3rem;
}

.animate-squiggly::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, 
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 25%, 
    #ffc107 50%, 
    rgba(0,0,0,0) 75%, 
    rgba(0,0,0,0) 100%);
  background-size: 200% 100%;
  background-position: -100% 0;
  animation: squiggle 2s ease-in-out forwards;
}

@keyframes squiggle {
  0% {
    background-position: -100% 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.categories h2 {
  font-size: 2rem;
  margin-bottom: 4rem;
  position: relative;
  margin-top: 15px;
  padding: 1rem;
  display: inline-block;
  border-bottom: 4px solid #ffc107;
}

.categories-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
  gap: 15px;
  justify-content: center;
  align-items: center;
}

@keyframes flyIn {
  0% {
    transform: translateX(-100%); 
    opacity: 0; 
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fly-in {
  animation: flyIn 0.8s ease-out forwards; 
  opacity: 1; 
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  transform: translateX(-100%); 
}

.category-item:nth-child(1) {
  animation-delay: 0.1s;
}
.category-item:nth-child(2) {
  animation-delay: 0.2s;
}
.category-item:nth-child(3) {
  animation-delay: 0.3s;
}
.category-item:nth-child(4) {
  animation-delay: 0.4s;
}
.category-item:nth-child(5) {
  animation-delay: 0.5s;
}
.category-item:nth-child(6) {
  animation-delay: 0.6s;
}
.category-item:nth-child(7) {
  animation-delay: 0.7s;
}
.category-item:nth-child(8) {
  animation-delay: 0.8s;
}


.category-item:hover{
  font-size: 1.1rem;
  color: #ffc107;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .categories-menu {
    grid-template-columns: 1fr 1fr; 
    grid-auto-rows: auto; 
  }

  .category-item {
    font-size: 1rem; 
  }

  .icon {
    width: 2.5rem; 
    height: 2.5rem;
  }
}
