.featured-products {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .animate-squiggly::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, 
      rgba(0,0,0,0) 0%, 
      rgba(0,0,0,0) 25%, 
      #ffc107 50%, 
      rgba(0,0,0,0) 75%, 
      rgba(0,0,0,0) 100%);
    background-size: 200% 100%;
    background-position: -100% 0;
    animation: squiggle 2s ease-in-out forwards;
  }

  @keyframes squiggle {
    0% {
      background-position: -100% 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
  
  .featured-products h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
    margin-top: 15px;
    padding: 1rem;
    display: inline-block;
    position: relative;
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .view-more{
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    background-color: #ffc107;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 2rem;
    animation: float 3s ease-in-out infinite;
  }

  .view-more:hover{
    background: #e0a800;
  }
  
  .product-carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
    padding: 2rem;
  }
  
  .carousel-control {
    background: #ffc107;
    border: none;
    cursor: pointer;
    margin: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: 50%;
  }

  .carousel-control:hover{
    background: #ffc10784;
  }
  
  .featured-product-list {
    display: flex;
    gap: 20px;
    animation: scroll-banner 20s linear infinite;
 
  }

  @keyframes scroll-banner {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .featured-product-card {
    flex: 0 0 auto;
    width: 200px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    position: relative; 
    cursor: pointer;
    max-width: 300px;
    position: relative;
    transition: transform 0.3s ease;
  }


  .featured-product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }

  .featured-product-card:hover .product-image {
    transform: rotateY(180deg);
  }

  .featured-product-list:hover {
    animation-play-state: paused;
  }
  
  .featured-product-card .label {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    padding: 5px 10px;
    margin: 1rem;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    z-index: 1;
  }
  
  .label.new {
    background: #1f5422;
  }
  
  .label.sale {
    background: #ff4d4d;
  }

  .buy-icons{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
  }

  .cart-text{
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
    align-items: center;
  }

  .buy-icons img{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  .buy-icons img:hover{
    width: 2rem;
    height: 2rem;
  }
  
  .featured-product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 6px;
    display: block;
  }
  
  .product-name {
    font-size: 16px;
    margin: 10px 0 5px;
  }
  
  .product-tag {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .product-rating {
    font-size: 14px;
    color: #f8b400;
  }

  
  /* Responsive design */
  @media (max-width: 768px) {
    .carousel-control {
        font-size: 1.5rem;
    }
  
    .featured-product-list {
      gap: 10px;
    }
  
    .featured-product-card {
      margin-bottom: 20px;
    }
  }
  